{% extends "layout.html" %}
{% block content %}
    <h1>About Swaraj</h1>
    <div class="media-body">
    	<p>Swaraj Tractors was established in 1974 with a mission to be self-reliant and develop India’s first Indigenous tractor. Today Swaraj is a rapidly growing company, has a wide portfolio of tractors and farm machinery, and stands firmly amongst the top tractor brands in India. We manufacture a range of tractors from 15Hp to 65Hp for various farming needs including 4WD tractor for wetland &amp; specialized tractors for horticulture. 
    	</p>
    	<p>Our Combine harvesters and specialized agricultural implements like potato planters etc. are in huge demand as these facilitate the farming processes and enable increased output. Swaraj has long been a favorite with farmers for its power, reliability, high performance in extreme conditions, low maintenance cost, high resale value and long life.</p>
    	<p>Ever since its birth in 1974, Swaraj Tractors has come a long way, winning the hearts and trust of every farmer with its matchless power and superior performance. Its success is attributed to the hard-working engineers at Swaraj, majority of whom are farmers themselves. Swaraj isn’t just a tractor for these farmers, it’s an indispensable part of their families. It has stood by him, through every situation in life. This is why when Swaraj brings joy and prosperity in their lives, every farmer’s heart swells with pride to proclaim, “Mera Swaraj”.
    	</p>
    	<p>Our uniqueness also lies in the fact that we also have our own foundry for heavy casting, a captive engine manufacturing facility, machine shops, precision manufacturing capabilities, best-in-class captive engine plant, and two assembly plants. In 2007, Swaraj became part of the Mahindra Group. In 2012, we became the 2nd company in the world to win the Prestigious Deming Prize. In 2013 we won the TPM Excellence Award from Japan Institute of Plant Maintenance. In 2018, we achieved another milestone with the roll-out of our 15th Lakh tractor.</p>
    	<p>Our greatest satisfaction lies in bringing smiles to over 1.5 million farmers and hearing them say ‘Mera Swaraj’.</p>

    </div>

{% endblock content %}
